<div class="cc-col-l">
  <div class="cc-participant-page-name">Participant #<%= @participant.name %></div>
  <%= image_tag "participants/#{@participant.name}.png", alt: @participant.name, class: "cc-participant-pic" %>
  <div class="cc-participant-page-stats">
    <div class="cc-participant-stats-age"><%= @participant.age %></div>
    <div class="cc-participant-stats-race"><%= @participant.race %></div>
    <div class="cc-participant-stats-hood"><%= @participant.hood %></div>
    <div class="cc-participant-stats-sex"><%= @participant.sex %></div>
  </div>
  <div class="cc-participant-links">
    <div><%= link_to "Introduction", intro_participant_path(@participant.name), class: "cc-intro-link cc-section-link" %></div>
    <div class="cc-participant-entry-links">
      <% @participant.entries.each_index do |i| %>
        <div><%= link_to @participant.entries[i].occured_at.strftime('%a, %b %d'), participant_entry_path(@participant.name, i) %></div>
      <% end %>
    </div>
    <div><%= link_to "Exit Interview", exit_participant_path(@participant.name), class: "cc-exit-link cc-section-link" %></div>
  </div>
</div>
