<%= render "layouts/nav" %>

<div class="cc-paper cc-participant-page cc-multi-entry clearfix">
  <div class="cc-col-l">
    <%= image_tag "participants/#{@participant.name}.png", alt: @participant.name, class: "cc-participant-pic" %>
    <div class="cc-participant-page-name">Participant #<%= @participant.name %></div>
    <div class="cc-participant-page-stats">
      <div class="cc-participant-stats-age"><%= @participant.age %></div> &middot;
      <div class="cc-participant-stats-race"><%= @participant.race %></div> &middot;
      <div class="cc-participant-stats-hood"><%= @participant.hood %></div> &middot;
      <div class="cc-participant-stats-sex"><%= @participant.sex %></div>
    </div>
    <div class="cc-participant-links">
      <div><%= link_to "Entrance Interview", participant_path(@participant.name), class: "cc-bio-link cc-section-link selected" %></div>
      <div><%= link_to "Introduction", intro_participant_path(@participant.name), class: "cc-intro-link cc-section-link" %></div>
      <div class="cc-participant-entry-links">
        <% @participant.entries.each_index do |i| %>
          <div><%= link_to @participant.entries[i].occured_at.strftime('%a, %b %d'), participant_entry_path(@participant.name, i) %></div>
        <% end %>
      </div>
      <div><%= link_to "Exit Interview", exit_interview_participant_path(@participant.name), class: "cc-exit-link cc-section-link" %></div>
    </div>
  </div>
  <div class="cc-col-r">
    <div class="cc-participant-bio">
      <h2><lights></lights>Entrance Interview</h2>
      <% @participant.bio.answers.each_index do |i| %>
        <div class="cc-interview-query"><%= Bio::QUESTIONS[i] %></div>
        <div class="cc-interview-answer"><%= raw @participant.bio.answer(i) %></div>
      <% end %>
    </div>

    <div class="cc-participant-intro" style="display: none;">
      <h2><lights></lights>Introduction</h2>
      <div><%= @participant.intro.text_html %></div>
    </div>

    <div class="cc-participant-exit" style="display: none;">
      <h2><lights></lights>Exit Interview</h2>
      <div><%= @participant.exit_interview.text_html %></div>
    </div>

    <div class="cc-entry-book-wrap" style="display: none;">
      <h2><crossing></crossing>Entries</h2>
      <div class="cc-entry-book">
        <% @participant.entries.each_index do |i| %>
          <%# it pisses me off that i have to do this %>
          <% entry = @participant.entries[i] %>
          <div class="cc-entry" data-id="<%= entry.id %>">
            <h3><%= entry.occured_at.strftime('%a, %b %d') %></h3>
            <div><%= raw entry.text_html %></div>
            <div class="cc-entry-actions clearfix">
              <% if @entry != @participant.entries.last %>
                <%= link_to "next", participant_entry_path(@participant.name, i + 1), class: "cc-entry-next" %>
              <% end %>
              <% if @entry != @participant.entries.first %>
                <%= link_to "previous", participant_entry_path(@participant.name, i - 1), class: "cc-entry-prev" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
