<div class="cc-paper cc-participant-page">
  <div class="cc-col-l">
    <img class="cc-participant-pic" alt="<%= @participant.name %>" />
    <div class="cc-participant-page-stats">
      <div class="cc-participant-stats-name"><%= @participant.name %></div>
      <div class="cc-participant-stats-age"><%= @participant.age %></div>
      <div class="cc-participant-stats-race"><%= @participant.race %></div>
      <div class="cc-participant-stats-hood"><%= @participant.hood %></div>
      <div class="cc-participant-stats-sex"><%= @participant.sex %></div>
    </div>
    <div class="cc-participant-links">
      <div><%= link_to "Entrance Interview", "bio" %></div>
      <div class="cc-participant-entry-links">
        <% @participant.entries.each do |entry| %>
          <div><%= link_to entry.occured_at.strftime('%a, %b %d'), "entry" %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cc-col-r">
    <div class="cc-participant-bio">
      <% @participant.bio.answers.each_index do |i| %>
        <div class="cc-interview-query"><%= Bio::QUESTIONS[i] %></div>
        <div class="cc-interview-answer"><%= raw @participant.bio.answer(i) %></div>
      <% end %>
    </div>
    <% @participant.entries.each do |entry| %>
      <div class="cc-entry"><%= entry.text_html %></div>
    <% end %>
  </div>
</div>
