<%= render "layouts/nav" %>

<div class="cc-paper cc-participant-page clearfix">
  <div class="cc-col-l">
    <%= image_tag "participants/#{@participant.name}.png", alt: @participant.name, class: "cc-participant-pic" %>
    <strong>#<%= @participant.name %></strong><br /><br />
    <div class="cc-participant-page-stats">
      <div class="cc-participant-stats-name"><%= @participant.name %></div>
      <div class="cc-participant-stats-age"><%= @participant.age %></div>
      <div class="cc-participant-stats-race"><%= @participant.race %></div>
      <div class="cc-participant-stats-hood"><%= @participant.hood %></div>
      <div class="cc-participant-stats-sex"><%= @participant.sex %></div>
    </div>
    <div class="cc-participant-links">
      <div><%= link_to "Entrance Interview", "#bio", class: "selected" %></div>
      <div class="cc-participant-entry-links">
        <% @participant.entries.each do |entry| %>
          <div><%= link_to entry.occured_at.strftime('%a, %b %d'), "#entry-#{entry.id}" %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cc-col-r">
    <a class="cc-entry-anchor" name="bio"></a>
    <div class="cc-participant-bio">
      <h2><lights></lights>Entrance Interview</h2>
      <% @participant.bio.answers.each_index do |i| %>
        <div class="cc-interview-query"><%= Bio::QUESTIONS[i] %></div>
        <div class="cc-interview-answer"><%= raw @participant.bio.answer(i) %></div>
      <% end %>
    </div>
    <h2><crossing></crossing>Entries</h2>
    <% @participant.entries.each do |entry| %>
      <a class="cc-entry-anchor" name="entry-<%= entry.id %>"></a>
      <div class="cc-entry" data-id="<%= entry.id %>">
        <h3><%= entry.occured_at.strftime('%a, %b %d') %></h3>
        <div><%= raw entry.text_html %></div>
      </div>
    <% end %>
  </div>
</div>
