<div class="cc-profile">
  <div class="cc-profile-title clearfix">
    <%= image_tag "participants/#{participant.name}.png", alt: participant.name, class: "cc-participant-pic" %>
    <div class="cc-profile-title-stats">
      <div class="cc-interview-stats-name">#<%= participant.name %></div>
      <% Participant::STATS.each do |stat, english| %>
        <div class="cc-interview-stats-<%= stat %>">
          <div><%= participant.send(stat) %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="cc-intro">
    <%= raw participant.intro.text_html %>
  </div>
</div>
