    <div class="cc-title">
      <h1>Cat<span>called</span></h1>
      <div class="cc-subtitle">is a two-week long writing project by women living in New York on their experiences with being objectified and sexually harassed on city streets. Each daily log was kept by one of our 13 participants over the course of two weeks in August 2012. In the entries the women reflect on vulnerability, power, objectification, and safety in their urban environments.</div>
    </div>

    <div class="cc-nav"><div class="cc-nav-i">
      <a href="#participants">The Participants</a>
      <a href="#interviews">Their Entrance Interviews</a>
      <a>Daily Logs</a>
      <a>Mission Statement</a>
    </div></div>

    <div class="cc-paper">
      <div class="cc-participants clearfix">
        <a name="participants"></a>
        <h2>The Participants</h2>
        <% @participants.each do |participant| %>
          <%= link_to participant do %>
            <div class="cc-participant">
              <img alt="<%= participant.name %>" />
              <div class="cc-participant-stats">
                <div class="cc-participant-stats-name"><%= participant.name %></div>
                <div class="cc-participant-stats-age"><%= participant.age %></div>
                <div class="cc-participant-stats-race"><%= participant.race %></div>
                <div class="cc-participant-stats-hood"><%= participant.hood %></div>
                <div class="cc-participant-stats-sex"><%= participant.sex %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="cc-interviews">
        <a name="interviews"></a>
        <h2>Their Entrance Interviews</h2>
        <% @participants.each do |participant| %>
          <div class="cc-interview-title clearfix">
            <img alt="<%= participant.name %>" />
            <div class="cc-interview-title-stats">
              <div class="cc-interview-stats-name"><%= participant.name %></div>
              <div class="cc-interview-stats-age"><label>Age</label>
                <%= participant.age %>
              </div>
              <div class="cc-interview-stats-race"><label>Race</label>
                <%= participant.race %>
              </div>
              <div class="cc-interview-stats-hood"><label>Neighborhood</label>
                <%= participant.hood %>
              </div>
              <div class="cc-interview-stats-sex"><label>Sexuality</label>
                <%= participant.sex %>
              </div>
            </div>
          </div>
          <div class="cc-interview">
            <% participant.bio.answers.each_index do |i| %>
              <div class="cc-interview-query"><%= Bio::QUESTIONS[i] %></div>
              <div class="cc-interview-answer"><%= raw participant.bio.answer(i) %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

