<h1>Responses</h1>

<% @responses.each do |respons| %>
  <div class="row">
    <% if respons.reviewed %>
    <% else %>
      <div class="need-review">Needs Review</div>
    <% end %>
    <div><span class="small">Author</span> <%= respons.author %></div>
    <div><span class="small">Email Address</span> <%= respons.email %></div>
    <div><span class="small">Written On</span> <%= respons.written_at.to_s(:long_ordinal) %></div>
    <div><span class="small">Edited On</span> <%= respons.updated_at.to_s(:long_ordinal) %></div>
    <div><%= raw respons.text_html %></div>
    <div class="response-links">
      <%= link_to 'edit', edit_admin_response_path(respons) %> &middot;
      <%= link_to 'delete', admin_response_path(respons), method: :delete, confirm: 'Are you sure???' %>
    </div>
  </div>
<% end %>

<div class="pages">
  <% if @page > 0 %>
    <%= link_to 'Previous Page', admin_responses_path(page: @page - 1) %>
  <% end %>

  <% if @responses.count + @limit * @page < @total %>
    <%= link_to 'Next Page', admin_responses_path(page: @page + 1) %>
  <% end %>
</div>

<%= link_to 'Back', admin_participants_path, class: 'back' %>

