<h1>Edit <%=@participant.name%>'s Bio</h1>

<%= form_for([:admin, @participant, @bio]) do |f| %>
  <div><%= notice %></div>

  <% Bio::QUESTIONS.each_index do |i| %>
    <div>
      <div><%= Bio::QUESTIONS[i] %></div>
      <div>
        <textarea name="bio[answers][]"><%= @bio.answers[i] %></textarea>
      </div>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_participants_path, class: 'back' %>
