<%= form_for([:admin, @participant]) do |f| %>
  <div><%= notice %></div>
  <div>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div>
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </div>
  <div>
    <%= f.label :hood %><br />
    <%= f.text_field :hood %>
  </div>
  <div>
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
