<h1><%= @name %>'s Entries</h1>

<%= render 'form' %>

<% @entries.each do |entry| %>
  <div class="row">
    <!-- <div class="subrow"><%= entry.participant.name %></div> -->
    <div class="small">Written On <%= entry.written_at.to_s(:long_ordinal) %></div>
    <div class="small">Occured On <%= entry.occured_at.to_s(:long_ordinal) %></div>
    <div><%= raw entry.text_html %></div>
    <div><%= link_to 'edit', edit_admin_entry_path(entry) %></div>
  </div>
<% end %>

<%= link_to 'Back', admin_participants_path, class: 'back' %>
