<!DOCTYPE html>
<html>
<head>
  <title>Catcalled</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv" %>
  <![endif]-->
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var Tumblr = {
          key: '<%= ApplicationController::TUMBLR_API_KEY %>',
          post: '34500986376',
          use: true
        };

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35719475-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    var gTrack = (function () {
      return function (page) {
        try {
          _gat._getTracker("UA-35719475-1")._trackPageview(page);
        } catch(err) {}
      }
    }());
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
